/**
 ******************************************************
 ******************************************************
 * {LESS} :: _MIXINS (helpers) :: (upplication, 2016)
 ******************************************************
  *****************************************************
 */

/* ... TEXT ... */

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ... COLORS ... */

.gradient {
  background: rgb(41,61,82); /* Old browsers */
  background: -moz-linear-gradient(top,  @night_2 0%, @night 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  @night_2 0%, @night 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  @night_2 0%, @night 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@night_2', endColorstr='@night',GradientType=0 ); /* IE6-9 */
}

/* ... ANIMATIONS ... */

.anim-150 {
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.anim-bounce {
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}