/**
 ******************************************************
 ******************************************************
 * {LESS} :: _VARIABLES :: (upplication, 2016)
 ******************************************************
  *****************************************************
 */

@color_1: #444;
@color_2: #34a8a6;
@color_3: #1c5a59;
@color_4: #fff;
@color_5: #333;
@color_6: #eee0b7;
@color_7: #f2e397;
@color_8: black;
@font-family_main: 'Leckerli One', cursive;
@font-family_2: inherit;